<!DOCTYPE html>
<html lang="en">

<head>
  <title>Keller Group</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../public/main.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap"
    rel="stylesheet">

</head>

<body>
  <header>
    <h1>Keller Group</h1>
    <nav>
      <a href="#">Contact</a>
      <a href="#">Contribute</a>
    </nav>
  </header>
  <main>
    <div class="wrapper">
      <div class="header">
        <h2>Articles</h2>
        <button type="button"><img></button>
      </div>
      <div class="container">
        <div class="article-container">
          <h2>Title</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
        </div>
        <div class="article-container">
          <h2>Title</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
        </div>
        <div class="article-container">
          <h2>Title</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
        </div>
        <div class="article-container">
          <h2>Title</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
